body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #333;
    font-family: 'Calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

#centerStuff {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    margin-bottom: 250px;
}

button {
    border: #B1DDF1 2px solid;
    color: #fff;
    background: #4EBBD3;
    font-size: 1.1rem;
    padding: 0.2rem 0.2rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 7px;
    cursor: pointer;
}